<div>
  <ng-container class="task">
    <div *ngFor="let t of task">
      <div class="title">
        {{ t.title }}
      </div>
      <div class="description">
        {{ t.description }}
      </div>
      <div class="priority">
        <span>Priority: {{ t.priority }}</span>
      </div>
      <div class="done">
        <span>Done: {{ t.isDone }}</span>
      </div>
      <div class="duedate">
        <span>Due date: {{ t.dueDate | date: "dd-MM-YYYY" }} </span>
      </div>
    </div>
    <button class="btn_close" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button>
  </ng-container>
</div>
