/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/colorscheme";
@import "./assets/styles//fonts";
@import "./assets/styles/btn";
@import "./assets/styles/task";
@import "./assets/styles/modal-task";
@import "./assets/styles/footer";
@import "./assets/styles/message";
@import "./assets/styles/registration";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.dialog {
  width: 100%;
  height: 100%;
  z-index: 1000;
}
