.btn {
  display: flex;
  justify-content: space-between;
  margin: 2rem;

  &_create {
    width: auto;
    height: auto;
    padding: 0.5rem;
    border-radius: 7px;
    font-family: $global-font;
    font-weight: 500;
    font-size: 1.1rem;
    text-shadow: 2px 2px 1px $shadow;
    box-shadow: 5px 5px 5px $shadow;
    background: $success;
    color: $white;

    &:hover {
      background: $hover;
      text-shadow: 3px 3px 1px $success;
    }
  }

  &_icon {
    background: transparent;
    border: none;
    z-index: 1000;
  }

  &_close {
    display: inline-block;
    position: absolute;
    font-weight: 700;
    top: 1rem;
    right: 1rem;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }

  &_group {
    display: flex;
    justify-content: center;

    .mat-raised-button {
      margin-right: 0.5rem;
    }
  }

  &_green {
    background-color: rgb(23, 104, 23);
    color: white;
  }
}
