$shadow: rgba(0, 0, 0, 0.7);
$success: rgba(5, 105, 5, 0.8);
$danger: rgba(211, 14, 14, 0.8);
$warrning: rgba(231, 154, 10, 0.8);
$white: rgb(243, 243, 234);
$hover: rgb(6, 63, 6);
$bg-grey: rgba(128, 128, 128, 0.479);
$bg-dark-grey: rgba(128, 128, 128);
