.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border: 1px solid grey;
  border-radius: 7px;
  padding: 1rem;
  margin: 2rem;
  box-shadow: 5px 5px 5px $shadow;
  background-color: $bg-dark-grey;
  text-shadow: 2px 2px 2px $shadow;
  font-weight: 500;
  font-size: 1rem;
  color: $white;
}

.links {
  margin-left: 1rem;

  &_icon {
    text-decoration: none;
    text-shadow: 2px 2px 2px $shadow;
    color: black;
  }
}

.text_white {
  color: $white;
  margin-left: 0.2rem;
}
