.title {
  text-align: center;
  font-family: $global-font;
  font-size: 1.3rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.description {
  font-family: $lato-font;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.priority,
.done,
.duedate {
  text-align: center;
  font-family: $lato-font;
  font-size: 1.2rem;
  margin-bottom: 0.2rem;
  font-weight: 800;
}

.mat-dialog-actions {
  justify-content: center;
}
